/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.windows{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color:#168BC1; 
    -fx-background-color:#168BC1;
}

.windows:hover{     
  -fx-background-color:#0B729C; 
  -fx-text-fill:white;
  -fx-font-weight:bold; 
  -fx-border-color:#168FC1; 
}
.button-leiste {
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: #3498db; /* Hintergrundfarbe des Buttons */
    -fx-text-fill: white; /* Textfarbe des Buttons */
    -fx-font-size: 14px; /* Schriftgröße */
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}
.button-leiste:hover{
	    -fx-background-color:
            #3c7fb1,
            linear-gradient(#168BC1, #168BC1),
            linear-gradient(#eaf6fd 0%, #168BC1 49%, #168BC1 50%, #a7d9f5 100%);
}
.button-leiste:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}
.button-with-logo {
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: #3498db; /* Hintergrundfarbe des Buttons */
    -fx-text-fill: white; /* Textfarbe des Buttons */
    -fx-font-size: 14px; /* Schriftgröße */
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    /* Hintergrundbild für das Logo */
    -fx-graphic: url('logo.png');
    -fx-graphic-text-gap: 10px;
    -fx-background-position: center ; /* Position des Logos (oben links) */
    -fx-background-repeat: no-repeat; /* Wiederholung des Hintergrundbilds verhindern */
    -fx-background-size: 20px 20px; /* Größe des Logos */
}
.button-with-logo:hover {
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#168BC1, #168BC1),
            linear-gradient(#eaf6fd 0%, #168BC1 49%, #168BC1 50%, #a7d9f5 100%);
}
.button-with-logo:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}
/* CSS für das Wasserzeichen */
.logo {
    -fx-fit-to-height: 100px; /* Höhe des Logos */
    -fx-fit-to-width:  200px; /* Breite des Logos */
    -fx-opacity: 0.8; /* Deckkraft des Logos anpassen */
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Schlagschatten hinzufügen */
    /* Weitere Stile nach Bedarf hinzufügen */
}


